@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Space+Mono:wght@400;700&display=swap');
body{
background-size:100%;
background-image:url(/img/assets/z-s-nqVDLh2WLus-unsplash.jpg);
background-color:#651f66;
background-blend-mode:darken;
background-repeat:no-repeat;
background-position-y:100%;
size:100%;
overflow:scroll;
list-style:none;
display:flex;
flex-direction:column;
flex-wrap:wrap;
font-size:0.65cm;
color:#61bf60;
text-decoration:none;
justify-content:center;
font-family:'Noto Sans',sans-serif;
}
body.body-doc {
background-size:100%;
background-image:url(/img/assets/z-s-nqVDLh2WLus-unsplash.jpg);
background-color:#313543;
background-blend-mode:darken;
background-repeat:no-repeat;
background-position-y:100%;
size:100%;
overflow:scroll;
list-style:none;
display:flex;
flex-direction:column;
flex-wrap:wrap;
font-size:0.65cm;
color:#61bf60;
text-decoration:none;
justify-content:center;
font-family:'Noto Sans',sans-serif;
}
div.text-doc {
    text-align: left;
    margin: 40px;
    background-color: transparent;
    color: #ffffff;
    padding: 20px;
    border: 1px transparent solid;
    border-radius: 15px;
}
div.text a{
background-color:#651f66;
color:#61bf60;
border:transparent 1px solid;
border-radius:15px;
padding:10px;
margin-left:40%;
margin-right:40%;
width:20%;
text-decoration:none;
font-family:'Noto Sans',sans-serif;
display:flex;
justify-content:center;
}
div.text a:hover{
    background-color:transparent;
border:2px solid #651f66;
color:#651f66;
}
#logo-top{
margin-left:40%;
margin-right:40%;
height:auto;
width:20%;
display:flex;
flex-direction:column;
flex-wrap:wrap;
}
div.hitmeup{
text-decoration:none;
}
div.hitmeup h2,h3,h4,h5,h1
{
font-family:'Noto Sans',sans-serif;
font-weight:500;
display:flex;
justify-content:center;
}
a{
background-color:#61bf60;
color:#651f66;
border:transparent 1px solid;
border-radius:15px;
padding:10px;
margin-left:40%;
margin-right:40%;
width:20%;
text-decoration:none;
font-family:'Noto Sans',sans-serif;
display:flex;
justify-content:center;
}
a:hover{
background-color:transparent;
border:2px solid #61bf60;
color:#61bf60;
}
footer{
margin-left:40%;
margin-right:40%;
height:auto;
width:20%;
display:flex;
flex-direction:column;
flex-wrap:wrap;
font-family:'Noto Sans',sans-serif;
font-weight:500;
font-size:0.5cm;
}
@media only screen and (max-width: 850px) {
#logo-top{
width:40%;
margin-left:30%;
margin-right:30%;
}
a{
width:40%;
margin-left:30%;
margin-right:30%;
}
}