
/* HACKED FONT */
@font-face {
    font-family: Hacked;
    src: url(https://hackedfont.com/HACKED.ttf);
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');


/* general */

html {
    background-image: url(/png/background.png);
    padding: 60px;
    display: list-item;
}


footer {
    border-radius: 4px;
    border: 10px #788a9b;
}

body {
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 15px;
}

div.body {
    height: 80%;
  /*border: 1px solid transparent;*/
   /*border-radius: 15px;*/
    padding: 30px;
    background-color: #36393e;
   /* background-image: url(/png/background.png);*/
    background-blend-mode: normal;

    background-repeat: no-repeat;
    background-position-x: center;
    text-align: center;
    background-size: 100%;
    font-family: Hacked;
    font-size: 100px;
}

p { 
    text-align: center;
    font-size: 50px;
}

h1 {
    font-size: 7cm;
    text-align: center;
    font-family: 'HACKED';
    font-size: 200px;
    font-weight: 900;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* SPECIAL classes */
div.gradient {
    -webkit-background-clip: text;
    background-clip: text;
    background-image:linear-gradient(-90deg,#00FFF9,#00FF43);
    color: transparent;
    
}

.blur {
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

/* long text */
.longtext {
    font-family: 'Roboto';
    font-size: 40px;
    padding: 10px;
    background-color: #36393e57;
}
/* WINDOWBAR */
div.windowbar {
height: 30px;
margin: 0px;
background-color: #303235;
display: flex;
flex-direction: row-reverse;
width: 100%;
height: 100%;
}
.windowbar .button {
    border: 1px solid transparent;
    border-radius: 50%;
    margin: 10px;
    width: 20px;
    height: 20px;
}
.windowbar .close {
background-color: #E55C63;
}

.windowbar .maximize {
background-color: #30A990;
}

.windowbar .minimize {
background-color: #EAB937;
}

/* intro */

.intro {
    height: 100%;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

.subtitle {
 font-family: 'Roboto', sans-serif;
 font-size: 1cm;
}

/* NAVBAR */

.bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1cm;
    font-family: 'Roboto', sans-serif;
    display: flex;
    text-align: center;
    font-size: 16px;
}

.bar ul {
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid transparent;
    border-radius: 15px;
    background-image:linear-gradient(90deg,#00FFF9,#00FF43);
    display: flex ;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
    height: 10%;
    width: 100%;
    list-style-type: none;
    font-size: 1cm;
    text-decoration: none;
}

/* navbar links */

a {
    font-size:1cm;
    color: white;
    text-decoration: none;
}

.bar a {
    
    display: block;
    margin: 40px;
    border-radius: 15px;
    border: 1px transparent;
    padding: 10px 40px 10px 40px;
    text-align: center;
    font-size: 20px;
    color: #36393e;
}

.bar a:hover {
    background-color: #36393e;
    color: #00FFF9;
}

a.current-page:hover {
    color: #02fd77;
    list-style-type: none;
    
}

a.current-page {
    color: #36393e;
    background-color:  #02fd77;
    list-style-type: none;
}

/* Social icons */

.bar ul li a:hover {
    color: #00FFF9;
}

/* FOOTER */

footer div.socials ul li a {
    display: block;
    margin: 40px;
    border-radius: 15px;
    border: 1px transparent;
    padding: 10px 40px 10px 40px;
    text-align: center;
    font-size: 20px;
    color: #bac3d3;
    font-family: 'Roboto', sans-serif;
}

div.socials ul {
    list-style-type: none;
}

div.socials ul {
    display: flex ;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

.social-icons {
    display: flex;
    justify-content: space-evenly ;
}
.social-icons ul li a:hover {
    color: #ffffff;
}

.facebook a {
    color: #4867aa;
}

.facebook a:hover {
    background: #4867aa;
}

.twitter a {
    color: #1da1f2;
}

.twitter a:hover {
    background: #1da1f2;
}
.youtube a {
    color: #df2926;
}

.youtube a:hover {
    background: #df2926;
}
.twitch a {
    color: #6b026e;
}

.twitch a:hover {
    background: #430057;
}

.github a {
    color: #121212;
}

.github a:hover {
    background: #121212;
}

.discord a {
    color: #7289da;
}

.discord a:hover {
    background: #7289da;
}