
/* imports */

@font-face {
    font-family: Hacked;
    src: url(https://hackedfont.com/HACKED.ttf);
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');


/* general */

footer {
    border-radius: 4px;
    border: 10px #788a9b;
}

html {

    list-style-type: none;
}

body {
    background-color: #36393e;
    background-image: url(/png/background.png);
    background-repeat: no-repeat;
    background-position-x: center;
    text-align: center;
    background-size: 100%;
    font-family: Hacked;
    font-size: 100px;
}

p { 
    text-align: center;
    font-size: 50px;
}

h1 {
    font-size: 7cm;
    color: #36393e;
    text-align: center;
    font-family: 'HACKED';
    font-size: 200px;
    font-weight: 900;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* SPECIAL classes */
.glow {
    font-size: 80px;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #00e6ad, 0 0 40px #00e6c0, 0 0 50px #00e6b4, 0 0 60px #00e699, 0 0 70px #00e68e;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #4dffd3, 0 0 40px #4dffd3, 0 0 50px #4dffd8, 0 0 60px #4dffd8, 0 0 70px #4dffd8, 0 0 80px #4dffca;
    }
  }

.blur {
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

/* long text */
.longtext {
    font-family: 'Roboto';
    font-size: 40px;
    padding: 10px;
    background-color: #36393e57;
}

/* intro */

.intro {
    height: 100%;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

/* NAVBAR */

.bar {

    font-size: 1cm;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    display: flex;
    text-align: center;
    font-size: 16px;
}

.bar ul {
    display: flex ;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
    height: 10%;
    width: 100%;
    list-style-type: none;
    font-size: 1cm;
    text-decoration: none;
}

/* navbar links */

a {
    font-size:1cm;
    color: white;
    text-decoration: none;
}

.bar a {
    margin: 40px;
    border-radius: 4px;
    border: 1px transparent;
    padding: 30px;
    text-align: center;
    font-size: 20px;
    color: #bac3d3;
}

.bar a:hover {
    filter: blur(8px);
    -webkit-filter: blur(1px);
    background-color: #36393e;
    color: white;
}

a.current-page {
    color: #02fd77;
    list-style-type: none;
    
}

a.current-page:hover {
    color: white;
    background-color:  #02fd77;
    list-style-type: none;
}

/* Social icons */

.bar ul li a:hover {
    color: white;
}

.social-icons {
    display: flex;
    justify-content: space-evenly ;
}
.social-icons ul li a:hover {
    color: #ffffff;
}

.facebook a {
    color: #4867aa;
}

.facebook a:hover {
    background: #4867aa;
}

.twitter a {
    color: #1da1f2;
}

.twitter a:hover {
    background: #1da1f2;
}
.youtube a {
    color: #df2926;
}

.youtube a:hover {
    background: #df2926;
}
.twitch a {
    color: #6b026e;
}

.twitch a:hover {
    background: #430057;
}

.github a {
    color: #121212;
}

.github a:hover {
    background: #121212;
}

.discord a {
    color: #7289da;
}

.discord a:hover {
    background: #7289da;
}