
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&family=Ubuntu:wght@300&display=swap');           
button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;  
}

#twiticon {
    width: 150px;
    margin: 40px;
}

#vanta {
    padding: 10px;
    top: 0;
    left: 0;
    height: 55%;
   
    z-index: 1;

    font-size: large;
}

.clock {
  border: #ecbeb7, 2px, solid ;
  font-family:'Open Sans';
}

html {
    display: table;
    margin: auto;

}

body {
    background-color:#333333 ;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url(/pics/back.png);
    font-size: larger;
    width: 1000px;
    height: auto;
    display: table-cell;
    vertical-align: middle;
    padding: auto;
    font-weight: bolder;
    background-position: center;
    background-blend-mode: lighten;
}





.txtart {
    text-align: center;
    color: #51fe51;
    font-weight: bold;
    font-size: large;
}

#clock {

  color: #4CAF50;
  font-size: 80px;
  text-align: center;
  
}


pre {
    color: #4CAF50;
   
}

blockquote {
    color: #ecbeb7;
}
.gl {
    margin-top: 10px;
    width: 90%;
   
}

a {
    color: #c67d8d;
    text-decoration: none;
    margin-left: 25px;
}


a:hover {
    color: #51fe51;
}

h1 {
    font-size: 20px;
    color: #ff6cb6;
    margin-bottom: 0px;
}

h2, h3, h4, h5, h6 {
    font-size: 16px;
    color: #2fa301;
  padding: 10px;
}

li {
    color: #98be56;
}


#console, #console-form, hr {
    background-color:#2D2D2D;
    margin: 10px;
    padding: 10px;
}

input {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #353535;
    font-size: 3rem;
    color: #fff;
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    transition: all 500ms;
    overflow: hidden;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 }
  

.basic-grid {
    display: grid;
    gap: 2rem;
margin: 10px;
padding: 10px;
    grid-template-columns: repeat(auto-fill, minmax(480px, 1fr));
 }
  
 .photo-grid {
    display: grid;
    gap: 2rem;
  
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-auto-rows: 240px;
  }
  
  /* Medium screens */
  @media screen and (min-width: 600px) {
    .card-tall {
      grid-row: span 2 / auto;
    }
  
    .card-wide {
      grid-column: span 2 / auto;
    }
  }
