
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

#yticon {
   width: 100%;
   height: auto;
}
#twiticon {
    width: 100%;
    height: auto;
}

div {
    margin-left: -0.4%;
}

.videoplayers {
color: #e6c7ce;
font-weight: bolder;
background-color: #2D2D2D;
font-size: 30px;
margin-left: -0.4% ;
margin-right:70% ;
padding: 10px
}

#vanta {
    padding: 10px;
    top: 0;
    left: 0;
    height: 55%;
   
    z-index: 1;
    font-family: 'Roboto Mono';
    font-size: large;
}

.clock {
  border: #ecbeb7, 2px, solid ;
}
#space {
    width: 100%;
    height: 100%;
    opacity: 0.0;
}

body {
    background-color:#333333 ;
   
    background-image: url(/pics/back.png);
    font-family: 'Open Sans', sans-serif;
    font-size: larger;
    font-weight: bolder;
    background-position: center;
    background-blend-mode: lighten;
}

.scrollabletextbox {
    height:15%;
    background-color: #333333;
     font-size: large;
     overflow:auto;
     border: #3a3a3a 2px solid;
     padding: 10px;
     
}
.scrollabletextboxnn {
font-size: x-large;
height:25%;
background-color: #333333;
 overflow:auto;
 border: #3a3a3a 2px solid;
 padding: 10px;

 text-align: center;
}

.scrollabletextboxn {
    height:25%;
    background-color: #333333;
     font-size: xxx-large;
     overflow:auto;
     border: #3a3a3a 2px solid;
     padding: 10px;
     font-family: 'Open Sans', sans-serif;
     text-align: center;
}
.scrollabletextboxn h2 {
    font-size: xxx-large;
}
#bg {
    height: 100%;
    width: 100%;
    background-color: #2D2D2D;
    clip-path: polygon(50% 0%, 100% 0, 30% 100%, 0 100%, 0 0);
    position: absolute;
    z-index: -1;
}

.scrollabletextbox h2 {
    margin: 6px;
background-color: #2D2D2D;
padding: 10px;

}

.txtart {
    text-align: center;
    color: #51fe51;
    font-weight: bold;
    font-size: large;
}
header {
  background-color: rgba(0, 0, 0, 0.472);  
  color: rgba(255, 255, 255, 0);
  top: 0;
  opacity: 0.8;
  left: 0;
  height: 100%;
  
  z-index: 1;
}
.graybox {
    background-color: #252525;
    margin-left: -0.4%;
    padding: 10px;

}

#clock {
    font-family: 'Open Sans', sans-serif;
  color: #7fec7b;
  font-size: 80px;
  text-align: center;
  
}


pre {
    color: #51fe51;
}

blockquote {
    color: #ecbeb7;
}

a {
    color: #c67d8d;
    text-decoration: none;
}

a:hover {
    color: #51fe51;
}

h1 {
    font-size: 20px;
    color: #ff6cb6;
    margin-bottom: 0px;
}

h2, h3, h4, h5, h6 {
    font-size: 16px;
    color: #2fa301;
  padding: 10px;

    background-color: #2D2D2D;
}

li {
    color: #98be56;
}

html {
    font-family: 'Open Sans', sans-serif;
}

#console, #console-form, hr {
    background-color:#2D2D2D;
    margin: 10px;
    padding: 10px;
}
