
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&family=Ubuntu:wght@300&display=swap');           
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;400&display=swap');



div.whitetext {
    text-align: center;
    color: aliceblue;
}

body {
    background-color: #282c34;
    color: #dfdfdf;
    font-family: Roboto Mono;
    font-size: larger;
    font-size: 22px;
    height: auto;
    margin-left: 5%;
    margin-right: 5%;

}
pre {
    color: #ecbe7b;
}

blockquote {
    color: #ecbe7b;
}

a {
    color: #c678dd;
    text-decoration: none;
    font-size: 22px;
    font-family: 'Source Code Pro', monospace;
    
}

a:hover {
    color: #51afef;
}

h1 {
    font-size: 20px;
    color: #ff6c6b;
    margin-bottom: 0px;
}

h2, h3, h4, h5, h6 {
    font-size: 16px;
    color: #51afef;
    margin-bottom: 0px;
}

li {
    color: #98be65;
}

p {
    padding: 0px;
    margin: 0px;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;  
}
#timeline{
    overflow: scroll;
}



#vanta {
    padding: 10px;
    top: 0;
    left: 0;
    height: 55%;
   
    z-index: 1;

    font-size: large;
}

.clock {
  font-family:'Open Sans';
  color: #c678dd;
  font-weight: bold;
}

.white-box {
    background-color: #fff;
    color: black;
    padding: 10px;
    font-family: 'Linux Libertine', 'Georgia', 'Times', serif;
    font-weight: bold;
}

.white-box h2 {
    text-decoration: underline;
   
    color: black;
    font-weight: bold;
    text-decoration-color: black;  
    font-size: 25px;
}

html {
    display: table;
    margin: auto;
}

.overflow {
    overflow: scroll;
    height:100%;
}

.txtart {
    text-align: center;
    color: #51fe51;
    font-weight: bold;
    font-size: large;
}

#clock {
  font-size: 80px;
  text-align: center;
  
}


pre {
    color: #4CAF50;
   
}


input {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #202225;
    font-size: 3rem;
    color: #fff;
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    transition: all 500ms;
    overflow: hidden;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 }
  

.basic-grid {
    display: grid;
    gap: 2rem;
margin: 10px;
padding: 10px;
    grid-template-columns: repeat(auto-fill, minmax(480px, 1fr));
 }
  
 .photo-grid {
    display: grid;
    gap: 2rem;
  
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-auto-rows: 240px;
  }
  
  /* Medium screens */
  @media screen and (min-width: 600px) {
    .card-tall {
      grid-row: span 2 / auto;
    }
  
    .card-wide {
      grid-column: span 2 / auto;
    }

    body {
        margin-left: 0%;
        margin-right: 0%;
    }

  }
