
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Orbitron');

.div h2{
 border: #dfdfdf, 2px, solid;
 background-color: #dfdfdf;
}

#vanta {
    padding: 10px;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    font-family: 'Roboto Mono';
    font-size: large;
}

.clock {
  border: #ecbeb7, 2px, solid ;
}

body {
    background-color:#5f5f5f ;
    font-family: Roboto Mono;
    font-size: larger;
}

.scrollabletextbox {
    height:200px;
    width:200%;
    font-size: 82%;
    overflow:auto;
}

.txtart {
    text-align: center;
    color: #51fe51;
    font-weight: bold;
    font-size: large;
}
header {
  background-color: black;  
  color: rgb(255, 255, 255);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}

#clock {
  font-family: "Roboto Mono";
  color: #7fec7b;
  font-size: 80px;
  text-align: center;
  
}


pre {
    color: #51fe51;
}

blockquote {
    color: #ecbeb7;
}

a {
    color: #c67d8d;
    text-decoration: none;
}

a:hover {
    color: #51fe51;
}

h1 {
    font-size: 20px;
    color: #ff6cb6;
    margin-bottom: 0px;
}

h2, h3, h4, h5, h6 {
    font-size: 16px;
    color: #82fe51;
    margin-bottom: 0px;
}

li {
    color: #98be56;
}
 