@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
body {
    padding: 20px;
    background-color: #30333a;
    color: #dfdfdf;
    font-family: "Roboto Mono";
    font-size: 18px;
    line-height: 22px;
    margin: 0px;
    max-width: 960px;
}

pre code {
    color: #efefef;
    text-shadow: 0px 1px 0px #000;
    margin: 0;
    padding: 0;
}
pre {
    padding: 8px 15px;
    background: #191919;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    -khtml-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #121212;
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
    -o-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
    overflow: auto;
        overflow-y: auto;
    overflow-y: hidden;
}
pre {
    color: #7fec7b;
}

blockquote {
    color: #ecbeb7;
}

a {
    color: #c67d8d;
    text-decoration: none;
}

a:hover {
    color: #51fe51;
}

h1 {
    font-size: 20px;
    color: #ff6cb6;
    margin-bottom: 0px;
}

h2, h3, h4, h5, h6 {
    font-size: 16px;
    color: #82fe51;
    margin-bottom: 0px;
}

li {
    color: #98be56;
}